<section class='article-feed'>
  <% @articles.each do |article| %>
    <div class='article-card'>
      <%# TODO: Link username to user profile %>
      <div class='article-card--user-section'>
        <div class='article-card--profile-icon'>
          <i class="far fa-user-circle"></i>
        </div>
        <div class='article-card--info'>
          <a href='/' class='article-card--user'><%= article.user.profile.username %></a>
          <br>
          <span class='date'><%= time_ago_in_words(article.created_at) %> ago</span>
        </div>
      </div>
      <h3><a href=<%= article_path(article.id) %> class='article-card--link' ><%= article.title %></a></h3>
    </div>
  <% end %>
</section>