<section class='navigation'>
    <div class='topnav'>
        <div class='topnav--navheader'>
            <a href='/' class='site-logo'>DuckLog</a>
            
            <nav>
                <button class='site-login'>Login</button>
                <button class='site-register'>Register</button>
            </nav>
        </div>
    </div>
</section>