@import 'variables';
@import '_mixins';

.action-buttons {
    margin-inline: auto;
    width: 80vw;
    margin-top: 2ch;
    margin-bottom: 0;
}

.article-feed {
    margin-top: $content-spacing;
}

.article-card {
    background-color: #192841;
    align-items: center;
    border: 1px solid #6E6D6F;
    border-radius: 0.375rem;
    margin-inline: $content-spacing;
    margin-block: 0 $content-spacing;
    padding: $content-spacing;

    &--user-section {
        display: flex;
        align-items: flex-start;
    }

    &--profile-icon {
        top: 50%;
        font-size: 2rem;
    }

    &--info {
        padding-left: $content-spacing;
        line-height: 1;
    }

    &--user {
        font-size: 0.875rem;
        color: #4B8CA7;
    }

    &--link {
        margin-left: $content-spacing;
        text-decoration: none;
        font-size: 1.5rem;
        color: #C7C4CA;
        line-height: 1;
    }
}

.date {
    color: #ACD4C9;
    font-size: 0.75rem;
}

.article-create, .article-edit {
    @include account-modal;
    width: 80vw;
}

.article-show {
    @include account-modal;
    width: 80vw;
}

#article_title, #article_subheader, #article_body {
    width: 100%;
    background-color: #DECFAC;
    padding: 1ch;
    border-radius: 6px;;
    margin-top: 1ch;
}

#article_body {
    height: 150px;
}

.article-header {
    text-align: left;
    h1 {
        font-size: 3rem;
        margin: 0;
    }

    h2 {
        font-size: 2rem;
        font-weight: normal;
        margin: 0;
    }
}

.article-content {
    text-align: left;
}

.prev-btn {
    background-color: #AB453F;
}

.prev-btn:hover {
    background-color: #EE6944;
    transition: 0.3s;
}
