@import 'variables';
@import '_mixins';

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.navigation {
    height: $nav-height;
    background: $nav-background;
    box-shadow: 0px 1px 3px #6E6D6F;
}

.topnav {
    width: $content-width;
    margin: 0 auto;
    line-height: $nav-height;
    position: sticky;
    top: 0;

    &--navheader {
        font-size: 1.375rem;
    }
}

@media screen and (max-width: 768px) {
    .topnav {
        width: 90%;
    }
}

.site-logo {
    background-color: #FFFFFF;
    color: #262626;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 800;
    border-radius: 0.25rem;
}

.site-login {
    background-color: $nav-background;
    color: #0096FF;
    margin-right: 0.5rem;
}

.site-register {
    background-color: #0096FF;
    color: #252525;
}

.site-article {
    background-color: #0096FF;
    margin-right: 0.5rem;
}

.site-logout {
    background-color: $nav-background;
    color: #CCCCCC;
}

a.site-logo:hover {
    background-color: #CCCCCC;
    transition: 0.3s;
}

.site-login:hover {
    background-color: #333333;
    transition: 0.3s;
}

.site-register:hover {
    background-color: #0077cc;
    transition: 0.3s;
}

.site-article:hover {
    background-color: #0077cc;
    transition: 0.3s;
}

.site-logout:hover {
    background-color: #D6444D;
    transition: 0.3s;
}



nav {
    display: flex;
    float: right;
    cursor: default;
}
